@import "../../common/styles/reset-component.scss";

:host {
  overflow: hidden;
  position: relative;

  > section.slider,
  > section.background,
  > section.foreground {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  > section.slider,
  > section.foreground {
    pointer-events: none;

    * {
      pointer-events: auto;
    }
  }

  > section.slider {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
    will-change: transform;
  }

  > section.background {
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
}

:host([fullscreen]) {
  height: 100vh;
  width: 100vw;
}

:host(:not([horizontal])) {
  > section.foreground > div.nav-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &.prev {
      top: 0
    }
    &.next {
      bottom: 0
    }
  }
}

:host([horizontal]) {
  > section.slider {
    flex-direction: row;
  }
  > section.foreground > div.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}

:host([transition="slide"]) {
  > section.slider {
    transform: translate3d(0, 0, 0);
  }
}
