<!doctype html>
<html>
  <head>
    <title>Borshch playground</title>
  </head>
  <body>
    <playground-app></playground-app>

    <script src="/src/index.js"></script>
    <script>init(<%- locals.data %>)</script>
  </body>
</html>
